:root {
  --color-1: #503d29;
  --color-2: #e7e0e0;
  --color-3: #b19d85;
  --color-4: #364046;
  --color-5: #0b0706;
  --color-6: #a39c8c;
  --color-7: #3f4c4b;
  --color-8: #31281b;
  --color-9: #2b3539;
  --color-10: #96826d;
  --color-11: #a08c72;
  --color-12: #806a52;
  --color-13: #ac8c71;
  --color-14: #68523b;
  --color-15: #907c62;
  --color-16: #7e5b44;
  --color-17: #7c583c;
  --color-18: #a1917d;
  --color-19: #443220;
  --color-20: #1c1a17;
  --color-21: #c6bbb6;
  --color-22: #141d2c;
  --color-23: #3c2d1d;
  --color-24: #73614c;
  --color-25: #5c4832;
  --color-26: #9c7f61;
  --color-27: #241f19;
  --color-28: #7f4c3c;
  --color-29: #745a41;
  --color-30: #1c0c07;
  --color-31: #12191f;
  --color-32: #4c331c;
  --color-33: #8c7158;
  --color-34: #bcad9e;
  --color-35: #a29494;
  --color-36: #2a2c2c;
  --color-37: #2c1c13;
  --color-38: #433c29;
  --color-39: #746c52;
  --color-40: #ddd5c2;
  --color-41: #24140d;
  --color-42: #b4946c;
  --color-43: #7d6444;
  --color-44: #273444;
  --color-45: #ddc9b7;
  --color-46: #897364;
  --color-47: #70645c;
  --color-48: #5d3f24;
  --color-49: #5e3424;
  --color-50: #947057;
  --color-51: #cabca2;
  --color-52: #654430;
  --color-53: #746443;
}